{% extends "base.html" %}
{% load static %}
{% load cache_bust %}

{% block page_content %}
<script type="text/javascript">
    function ShowHideForms() {
        var radio_button = document.getElementById("id_choice_5");
        var user_input = document.getElementById("user_input");
        user_input.style.display = radio_button.checked ? "block" : "none";
    }
</script>
<div class="row">
  <div class="col align-self-start"></div>
<div class="col-md-auto align-self-center">
  {% if display == 'true'%}
  <h3>Check out the set operations:</h3>
  {% else %}
  <h3>The result of your operation:</h3>
  {% endif %}
  {% if display == 'true'%}
  <form action="/" method="post" enctype="multipart/form-data")>
      {% csrf_token %}
      Integer inputs separated by commas
      <div class="form-group">
          {{ form.set1 }}
      </div>
      Integer inputs separated by commas
      <div class="form-group">
          {{ form.set2 }}
      </div>
      Choose one of the operations you want to perform
      <div class="form-group">
          {{ form.choice }}
      </div>
      <div class="form-group">
          {{ form.venn_diagram }}
      </div>
      <div class="form-group" style="display: none" id="user_input">
          {{ form.user_input }}
      </div>
      {% if display == 'true'%}
      <button type="submit" class="btn btn-primary">Submit</button>
      {% endif %}
  </form>

  {% endif %}
  {% if display == 'false'%}
  {{ return_set }}
  {% if display_diagram == 'true'%}
  <br>
  <img src="{% static 'user_interface/img/venn.png'%}?{% cache_bust %}">
  {% endif %}
  <br>
  <button class="btn btn-primary" onclick="window.location.href='/'">Go back</button>
  {% endif %}
</div>
<div class="col align-self-end"></div>

{% endblock %}
